*{
    margin: 0;
    padding: 0;
}
.site_logo img{
    width: 40px;
    height: 40px;
}

header{
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 2px solid rgb(213, 184, 184);
}
.nav_bar{
    display: flex;
    justify-content: space-evenly;
    min-width: 500px;
}
.nav_bar a{
    text-decoration: none;
}
.search_bar{
    display: flex;
}
.action_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}